.vl {
  border-left: 3px solid black;
  height: 200px;
  position: relative;
  left: 55%;
  margin-left: -3px;
  top: 0;
  justify-content: center; 
}

.blog article {
  width: 500px;
}

footer {
  top:1rem;
}

li {
  list-style-type: none;
}

.copyright p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.bagianlist {
  margin-top: 2rem;
}
